/* regole generali */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background-color: #000;
}

.slider {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.collections {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collections img {
  width: 90%;
  height: auto;
  border: 3px solid #FFF;
  display: none;
}

.collections img.active {
  display: inline-block;
}

.prev, .next {
  padding: 30px;
  font-size: 2em;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 30px;
  background-color: rgba(153, 187, 242, 0.5);
}

.prev:hover, .next:hover {
  cursor: pointer;
  background-color: rgba(153, 187, 242, 0.8);
}

/* Navigation Menu */
.navigation-menu {
  height: 20vh;
  width: 15%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-icons {
  padding: 5px 15px;
  font-size: 1.5em;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 30px;
  background-color: rgba(153, 187, 242, 0.5);
}

.menu-icons i:hover {
  cursor: pointer;
}

.menu-icons i.active {
  color: rgba(153, 187, 242, 0.8);
}

#matonti {
  width: auto;
  height: 380px;
}
